.card{
    display : flex;
    flex-direction: column;
    max-width: 400px;
    border : 1px solid var(--background-color);
}

.card .card-header img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    
}



.card-body{
    padding:6px 10px;
}

.card .card-body h4{
    margin-block:0;
    text-align: left;
    font-size:large;
    text-transform: uppercase;
}

.card .card-body p{
    text-align: left;
    margin-block: 0;
}




.card .card-footer{
    padding : 12px 0px;
}
.card .card-footer button{
    background-color: var(--bouton-color);
    color:var(--primary-color);
    border:none;
    border-radius: 5px;
    padding:10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    color: #f0f0f0;}

.card .card-footer button:hover{
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
    transform: translateY(-2px);
    color: #f0f0f0;
}