.map{
  overflow:hidden;
  height:350;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 }
 .map iframe {
  height:250px;
  width:1800px;
  border:1px solid #f0f0f0;
  filter : saturate(0%);
 }