.footer{
    background-color: var(--background-color);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.footer .footer-colonne h4{
    font-size:large;
    color: var(--primary-color);
    margin-block: 0;
    padding: 15px 30px;
}

.footer .footer-colonne a{
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    cursor: pointer;
    margin-bottom: 6px;
}

