.resto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: start;
}

.resto .resto-img img{
  width: 600px;
  height: 400px;
}

.resto .resto-info{
  padding :12px 0px;
}
.resto .resto-info button{
  background-color: var(--bouton-color);
  color: var(--primary-color);
  border:none;
  border-radius:5px;
  padding: 10px 20px;
  font-weight:bold;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  cursor:pointer;
  box-shadow:rgba(0, 0, 0, 0.18) 0px 2px 4px ;
  color:#f0f0f0;
}

.resto .resto-info button:hover{
  background-color: var(--secondary-color);
  box-shadow:rgba(0, 0, 0, 0.18) 0px 2px 4px ;
  transform: translateY(-2px);
  color: #f0f0f0;
}

.resto .resto-info h2{
  text-transform: uppercase;
}

.bouton-retour button{
  background-color: var(--bouton-color);
  color: var(--primary-color);
  border:none;
  border-radius:5px;
  padding: 5px 10px;
  margin-top:10px;
  margin-left:  20px;
  font-weight:bold;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  cursor:pointer;
  box-shadow:rgba(0, 0, 0, 0.18) 0px 2px 4px ;
  color:#f0f0f0;
  display: flex;
  font-size: 10px;
  font-style: italic;
}

.bouton-retour button:hover{
  background-color: var(--secondary-color);
  box-shadow:rgba(0, 0, 0, 0.18) 0px 2px 4px ;
  transform: translateY(-2px);
  color: #f0f0f0;
}