:root{
    --primary-color:#060606; /*gros titre*/
    --secondary-color:#EBB6FD; /*hover bouton*/
    --bouton-color:#b275c6;/*bouton*/
    --background-color:#f0f0f0; /*header et footer */
    --color-texte:#f0f0f0; /* texte blanc */
    --footer-height:130px;
    --header-height: 80px;
}